.ant-pagination-next{
    margin-left: 120px;
}



@media screen and (max-width:991px) {
    .ant-table-cell{
        font-size: 12px;
    }
    .ant-table-row>div:first-of-type{
        width: 40px !important;
    }
}
@media screen and (max-width:767px) {
    .ant-table-cell{
        font-size: 12px;
    }
}
@media screen and (max-width:575px) {
    .ant-table-cell{
        font-size: 12px;
    }
}